html{
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body{
    margin: 0;
    background-color: rgb(0, 0, 0);
}
.star{
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

/* .bg{
    /* background-color: black; */
    /* background-image: url(/bg.jpg); */
    /* animation-name: bg;
    animation-timing-function: ease-in 6s;
    background-repeat: no-repeat;
    background-size: cover;
    animation-duration: 10m;
    animation-direction: normal;
    animation-delay: 1s;
} */ 
/* @keyframes bg {
   from{
       background-color: black;
   }
   to{
       background-image: url(/bg.jpg);
   }
} */

h1 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 300%;
    font-weight: 400;
    opacity: 0;
    z-index: 1;
    color: rgb(75, 213, 238);
    animation-name: intro;
    animation-duration: 5s;
    animation-timing-function: ease-out 5s;
}
@keyframes intro {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0s;
    }
}

img.logo{
    position: absolute;
    top: 30%;
    left: 40%;
    opacity: 0;
    z-index: 1;
    animation-name: logo;
    animation-duration: 5s;
    animation-timing-function: ease-out 5s;
    animation-delay: 7s;
}


@keyframes logo  { 
    0% {
        width: 18em;        
        transform: scale(2.60);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}


main{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(500px) rotatex(25deg);
    position: absolute;
    text-align: justify;
    font-size: 350%;
    font-weight: bold;
    transform-origin: 50% 100%;
    overflow: hidden;
    width: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    height: 400%;
}
#content {
    animation: scroll 60s linear 12s;
    position: absolute;
    top: 100%;
  }

#title, #subtitle{
    text-align: center;
}
main::after{
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    /* background: linear-gradient(rgba(247, 246, 246, 0) rgba(36, 36, 36, 0.651)); */
}
@keyframes scroll {
    0%{
        top: 100%;
    }
    100%{
        top: -170%;
        transform: perspective(200px) ;
    }
}
p{
    color: #FFFF82;
}